# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Visual Studio
.vs/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcsettings

Docs/

# secrets
.env
.env.*
*.secret
*.key

