# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcsettings